SECRET_KEY=sua-chave-secreta

DB_DATABASE=caminho-do-banco
DB_HOST=localhost
DB_USER=usuario-do-banco
DB_PASSWORD=senha-do-banco
DB_CHARSET=UTF8

CLIENT_ID=seu-client-id-arkhe
CLIENT_SECRET=seu-secret-arkhe
